body
{
    font-family: 'Special Elite', cursive;
    background: rgb(224, 223, 223);
    text-shadow: 5px 5px 5px rgb(19, 18, 18)
}


.header_div
  {
  background: rgb(177, 162, 162);
  color: #daff06ce;
  text-shadow: 5px 5px 5px rgb(19, 18, 18)
  }

  
  .header_div p{
      font-family: 'Roboto' sans-serif;
      color: rgb(119, 255, 78);
      letter-spacing: 2px;
      font-size: 18px;
      font-weight: bold;
      text-shadow: 5px 5px 5px rgb(19, 18, 18)
  }
  .main_div button{
      font-family: 'Roboto', sans-serif;
      margin-top: 30px;
      width: 130px;
      font-weight: bolder;
      letter-spacing: 3px;
  }
  .copy_right_footer {
      position: fixed;
      color:rgba(240, 248, 247, 0.795);
      bottom: 0;
      width: 100%;
      font-size: 18px;
      background-color:rgb(168, 159, 159);
      line-height: 3;
      text-align: center;
      text-shadow: 5px 5px 5px rgb(19, 18, 18)
}